
.body{
    font-family:'Roboto','Raleway','Arial', sans-serif;
    width: 1600px;
    margin: 0 auto;
    
}

/* header */
.header{
    width: 100%;
    height: 80px;
    background: white;
    font-style: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #212121;
    display: flex;
    margin-bottom: -20px;
}
      /* logo */
.logo  {
    margin: 24px 93px 25px 215px;
    display: block;
    font-family: 'Raleway';
    font-style: 21.85px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
}
.logo a{
    text-decoration: none;
    color: #000000;
}
.logo-start {
    color: #2196F3;
    margin-right: -7px;
} 
.navigation {
    display: flex;
    list-style-type:none;
    margin-right: 150px;
}
.navigation-link {
    color: #212121;
    text-decoration: none;
    margin-right: 50px;
    
}
.navigation-link:hover,
.navigation-link:hover{
    color: #2196F3;
    display:inline-block;
}
.navigation-link-studio{
    color: #2196F3;
}
      /* pages */
      .pages {
          display: flex;
          align-items: center;
      }

     /* contacts */
     .contact-list {
        display: flex;
        align-items: center;
        list-style-type:none;
        
     }
     .contacts {
        text-decoration: none;
        color: #757575;
        margin-right: 50px;

     }
     .contacts:hover{
         color: #2196F3;
     }
     .line{
        width:1600px;
        border-bottom: 1px solid #ECECEC;
     }
/* main */
     /* section1-button */
     .effective-solutions {
        width: 1600px;
        height: 500px;
        background-color: #2F303A;
        padding-top: 200px;
        margin-bottom: 94px;

     }
     h1 {
        font-style: 32.35px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 700px;
        margin-left: 452px;
        margin-bottom: 30px;
     }
     .button {
         width: 200px;
         height: 50px;
         background-color: #2196F3;
         color: white;
         margin-left: 700px;
         border: 0;
         border-radius: 5px;
     }
     .button-text{
        font-style: 8.56px;
        font-size: 18px;
     }
     /* section2-peculiarities */
     .peculiaritie{
        margin-left: 215px;
        margin-bottom: 95px;
     }
     .characteristic-title{
        display: none;
     }
     }
     .characteristic{
        font-style: 8.19px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
        list-style-type:none;
        padding-right: 30px;
        
     }
     .characteristic-subtitle{
         color: #212121;
         text-transform: uppercase;
        font-style: 9.86px;
        font-size: 14px;
        line-height: 1.42;
        align-items: left;
        vertical-align: Top;
        letter-spacing: 3%;
        
     }
     .characteristic-text{
         color: #757575;
        font-style: 8.18px;
        font-size: 14px;
        line-height: 1.71;
        align-items: Left;
        vertical-align: Top;
        initial-letter-align: 3%;
        fill:  Solid;
        padding-right: 30px;
     }
     
     /* section3-processes */
     .directions-title{
         color: #212121;
        font-style: 21.69px;
        font-size: 36px;
        line-height: 1.66;
        align-items: left;
        vertical-align: Top;
        letter-spacing: 3%;
        margin-left: 605px;
        margin-bottom: 50px;
     }
     .directions-list{
      margin-left: 30px;
     }
     .directions{
         margin-left: 140px;
     }
     /* section4-team */
     .team{
         background-color: #F5F4FA;
         margin-top: 95px;
         height: 633px;
         margin-bottom: 46px;
         
     }
     .team-cards{
        margin-left: 170px;
     }
     .team-title{
         color: #212121;
         font-style: 21.69px;
         font-size: 36px;
         line-height: 1.66;
         align-items: center;
         vertical-align: Top;
         letter-spacing: 3%;
         margin-left: 668px;
         margin-top: 94px;
         padding-top: 94px;
         margin-bottom: 50px;
        
     }
     .team-list{
         margin-right: 30px;
         background-color: #FFFFFF;
         box-shadow: 1px 1px 5px #757575;
    
         
     }
     .team-subtitle{
         display: flex;
         justify-content: center;
         color: #212121;
         font-style: 13.44px;
        font-size: 16px;
        line-height: 1.19;
        align-items: Center;
        vertical-align: Top;
        letter-spacing: 3%;
        fill-opacity: Solid;
     }
     .team-text{
         display: flex;
         justify-content: center;
         color: #757575;
         font-size: 16px;
         line-height: 1.19;
         align-items: Center;
         vertical-align: Top;
         letter-spacing: 3%;
         fill-opacity: Solid;
         margin-top: -5px;
     }

/* footer */
footer{
    background-color: #2F303A;
    height: 237px;
    width: 1600px;
}
.adress{
    margin-left: 180px;
    list-style-type:none;
    line-height: 1.71;
   align-items: Left;
   letter-spacing: 3%;
    
}
.adress-link{
    text-decoration: none;
    color:#757575;
   line-height: 1.71x;
  
}
.adress-contact:hover,
.adress-contact:focus
{
    color: #2196F3;
}
.adress-dot{
    color:#F5F4FA;
}
.logo-footer a{
    color: white;
    margin: 24px 93px 25px 215px;
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
}

/* -------------portfolio--------------- */
.portfolio-main{

}
.main-section{
    margin-top: 94px;
}
.navigation-link-portfolio{
    color: #2196F3;
}

.button-list{
    display: flex;
    justify-content: center;
    list-style-type:none;
    margin-bottom: 90px;
    
}
.btn{
    background-color: #F5F4FA;
    cursor: pointer;
    color:#212121;
    border: 0;
    border-radius: 5px;
    height: 35px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    
}

.btn:hover,
.btn:focus{
    color: #FFFFFF;
    background-color: #2196F3;   
}
.btn-title{
    justify-content: center;
    font-style: 9.88px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.62;
    vertical-align: Top;
    letter-spacing: 3%;
    fill-opacity: solid;
}
.btn-title-all{
    background-color: #2196F3;
    color: #FFFFFF;
    width: 73px;
   
}
/* images */
.container{
    margin-top: -50px;
    
}
.portfolio-list{
    list-style-type:none;
    column-count: 3;
    width: 1220px;
    margin-left: 200px;
}

.portfolio-img{
    width: 370px;
}
.portfolio-items{
    width: 370px;
    height: 404px;
    box-shadow: 1px 1px 5px #757575;
    margin-bottom: 30px;
}
.portfolio-title{
    font-style: 9px;
    font-size: 18px;
    line-height: 2;
    align-items: left;
    vertical-align: Top;
    letter-spacing: 6%;
    fill-opacity: solid;
    color: #212121;
    font-weight: 700;
    margin-top: 30px;
    margin-right: 350px;
    margin-left: 24px;
}

.portfolio-text{
    color: #757575;
    font-style: 8.56px;
    font-size: 16px;
    line-height: 30px;
    align-items: Left;
    vertical-align: Top;
    letter-spacing: 3%;
    margin-left: 24px;
    display: flex;
}
.portfolio-main{
    display: none;
    
}




